:root{
    --btn-color:#4C5FD5;
    --background-color:#000000;
    ---second-background:#dadbf1;
    --text-color:#fff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main_header{
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    padding:20px 40px 20px 40px;
}
.main_header .left .logo{
    color:var(--text-color);
    font-size:1.2rem;
    text-decoration: none;
}
.main_header .left{
    padding-top:10px;
}
.main_header .left span{
    color:var(--text-color);
    font-size: 1.2rem;
}
.main_header .left .link1{
    color:var(--text-color);
    font-size:1.2rem;
    text-decoration: none;
}
.main_header .right .btn1{
    width: 150px;
    padding:10px;
    border-radius: 5px;
    font-size:.9rem;
    font-weight: 600;
    background-color: var(--background-color);
    border:solid 1px var(--text-color);
    color:var(--text-color);
    margin-right:10px;
}
.main_header .right .btn2{
    width: 110px;
    padding:10px;
    border-radius: 5px;
    font-size:.9rem;
    font-weight: 600;
    background-color: var(--btn-color);
    border:solid 1px var(--btn-color);
    color:var(--text-color);
}

.body_header{
    text-align: center;
    padding-top:7rem;
    background-color: var(---second-background);
    height: 300px;
}
.body_header .title h2{
    font-size: 60px;
}
.body_header .search{
    padding:8px;
    width:500px;
    margin-top:20px;
    border:solid 1px var(--background-color);
}
.body_header button{
    padding:8px;
    width:60px;
    margin-top:20px;
    border:solid 1px var(--background-color);
}
.main_content{
    display: flex;
    justify-content: space-around;
    padding-top: 10rem;
}
.main_content .row1{
    display: flex;
}
.main_content img{
    height:90px;
}
.main_content .contents{
    margin-left:1.6rem;
}
.main_content h3{
    letter-spacing: 2px;
    font-weight: 900;
    width:340px;
}
.main_content p{
    width:300px;
    font-size:20px;
    margin-top:.5rem;
}
.main_content .link_content{
    text-decoration: none;
    position: relative;
    top:.5rem;
    font-size:15px;
}
@media (max-width:600px){
    .main_header{
        width:100%;
    }
    .main_content{
        flex-direction: column;
        padding-top:50px;
        margin-left:10rem;
    }
    .main_content .row1{
        display: flex;
        padding-top:5rem;
    }
}
@media (max-width:768px){
    .main_content{
        flex-direction: column;
        padding-top:50px;
        margin-left:14rem;
    }
    .main_content .row1{
        display: flex;
        padding-top:5rem;
    }
}
@media (max-width:992px){
    .main_content{
        flex-direction: column;
        padding-top:50px;
        margin-left:14rem;
    }
    .main_content .row1{
        display: flex;
        padding-top:5rem;
    }
}

